# DEV Environment
SPRING_PROFILES_ACTIVE=dev
ENVIRONMENT=dev
GCP_PROJECT_ID=train-ai-gym-dev

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=train_dev
DB_USERNAME=train_user
DB_PASSWORD=train_pass_dev

# MongoDB
MONGODB_URI=mongodb://localhost:27017/train_dev

# Keycloak
KEYCLOAK_SERVER_URL=http://localhost:8080
KEYCLOAK_REALM=train
KEYCLOAK_CLIENT_ID=train-backend
KEYCLOAK_CLIENT_SECRET=your-client-secret

# GCP
GOOGLE_APPLICATION_CREDENTIALS=./gcp-key.json